* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-container .container-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 20%;
}

.main-container .container-1 #select_currency {
  width: 12vw;
  height: 7vh;
  border-radius: 3px;
  margin: 2vh 0 2vh 0;
  outline: none;
  background-color: blue;
  color: white;
  border: none;
}

.main-container .container-1 .input_value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(128, 128, 128, 0.24);
  height: 9vh;
  width: 16vw;
  margin: 0vh 0 2vh 0;
  border-radius: 5px 5px 0 0;
  border-bottom: 2px solid purple;
  padding: 4.5vh 2vh 1vh 2vh;
  position: relative;
}

.main-container .container-1 .input_value #label_value {
  position: absolute;
  top: 20px;
  font-size: 1.5rem;
  color: purple;
  -webkit-transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
  transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
}

.main-container .container-1 .input_value #amount {
  border: none;
  background-color: transparent;
  font-size: 1.2rem;
  outline: none;
  height: 3vh;
}

.main-container .container-1 .input_value #amount::-webkit-inner-spin-button, .main-container .container-1 .input_value #amount::-webkit-outer-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}

.main-container .container-1 .input_value #amount:focus ~ #label_value,
.main-container .container-1 .input_value #amount:valid ~ #label_value {
  top: 10px;
  color: purple;
  font-size: 1.1rem;
}

.main-container .container-1 #submit_btn {
  width: 12vw;
  height: 9vh;
  border-radius: 5px;
  border: none;
  background-color: red;
  color: white;
}

.main-container .container-1 #success_msg {
  font-weight: 500;
  margin: 1vh 0 2vh 0;
  font-size: 1.5rem;
}

.main-container .container-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20%;
}

@media screen and (max-width: 600px) {
  .main-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 3vw;
  }
  .main-container .container-1 {
    width: 100%;
    border-right: initial;
  }
  .main-container .container-1 #select_currency {
    width: 60%;
    margin: 1vh 0 1vh 0;
    font-size: 1.3rem;
  }
  .main-container .container-1 .input_value {
    width: 100%;
  }
  .main-container .container-1 #submit_btn {
    width: 100%;
    font-size: 1.5rem;
  }
  .main-container .container-1 #message_val {
    margin: 1vh 0 1vh 0;
    font-size: 1.6rem;
    font-weight: 500;
  }
  .main-container .container-2 {
    width: 100%;
    font-size: 2rem;
  }
}
/*# sourceMappingURL=currencyStyle.css.map */